body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

main {
    padding: 2rem;
    max-width: 48rem;
}

.keypad {
    list-style-type: none;
    /*list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");*/
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.keypad li {
    aspect-ratio: 1;
}

.keypad button {
    width: 100%;
    height: 100%;
    font-size: 10vw;
}

.keypad button:focus {
    outline: 3px solid #000;
}

.keypad li::before {
    content: "\200B"; /* add zero-width space */
    position: absolute;
}

.ukbdc-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 1rem;
}

.ukbdc-btn {
    font: 1rem Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 12rem;
    height: 6rem;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    background-color: #fff;
}

.ukbdc-btn:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
}

.ukbdc-btn[aria-pressed=true] {
    color: #fff;
    background-color: #000;
}
